@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin-top: 115px;
  font-family: "Montserrat", sans-serif;
  margin-left: 15%;
  max-width: 70%;
  min-width: 500px;
}
#right {
  float: right;
  text-align: right;
}
#opening {
  height: auto;
  width: 100%;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#companyName {
  font-size: 25px;
}
.home {
  margin: auto;
  padding: 10px;
  min-width: 500px;
  max-width: 70%;
}
#email {
  height: 30px;
  width: 35px;
}
.schema {
  height: auto;
  width: 75%;
  display: block;
  margin: 0 auto;
}
#contact {
  margin: auto;
  padding: 10px;
  text-align: center;
  min-width: 500px;
  max-width: 70%;
}
/*#edu {
  width: auto;
  display: flex;
  align-items: end;
}*/

.app-header {
  border-bottom: 1px solid;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  position: fixed;
  top: 0;
width: 70%;
min-width: 500px;
}


#nav {
  position: fixed;
  border: solid 1px;
  background-color: grey;
  text-align: center;
}
#list-example {
  position: fixed;
  top: 0;
  margin-left: 0;
  padding-top: 120px;
}
#Midterm,
#Final {
  margin: auto;
  padding: 10px;
  min-width: 500px;
  max-width: 70%;
}
#col2,
.col2 {
  float: right;
}
.app h1 {
  text-align: center;
}
.navbar > #navLinks {

  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.opening {
  background: linear-gradient(
    0deg,
    rgba(156, 101, 110, 1) 0%,
    rgba(148, 162, 183, 1) 100%
  );
}

