body {
  margin: 10px;
}
.navbar, .navbar a {
  padding: 6px;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#right {
  float: right;
  text-align: right;
}
#companyName {
  font-size: 25px;
}
.home {
  margin-left: 10px;
  margin-right: 10px;
}
#email {
  height: 30px;
  width: 35px;
}